body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
.class {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  
}
  
.row-container {
    display: flex;
    gap: 20px;
    width: 1100px;
    margin: 0 auto;
  
  
  }
  
  .class-content {
    flex: 1.5;
    border-radius: 10px;
  
  }
  
  .side-content {
    flex: 1;
    color:#555A8F;
    
  }
  .card-header{
    color:#555A8F;
  
  }
  .card-body{
    color:#555A8F;
  
  }
  
  .join {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color:#4B0DBA;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .card {
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .card:hover {
    background-color: #f5f5f5;
  }
  
  .card-body {
    padding: 15px;
  }
  
  .selected-session {
    background-color: #f0f0f0;
  }
  
  /* Styling for buttons */
  button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: #2ed16c;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .additional-sessions {
    max-height: 400px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aaa #f5f5f5;
  }
  
  .additional-sessions::-webkit-scrollbar {
    width: 8px;
  }
  
  .additional-sessions::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 4px;
  }
  
  .additional-sessions::-webkit-scrollbar-track {
    background-color: #f5f5f5;
  }
  