/* Leaderboard.css */

.leaderboard-container {
    margin: 20px;
    width: 100%; /* Make the container full width */
    display: flex;
    justify-content: center;
    margin: 50px auto 0;
  }
  
  .leaderboard-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    max-width: 600px; /* Limit the maximum width of the table */
  }
  
  .leaderboard-table th,
  .leaderboard-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  .leaderboard-table th {
    background-color: #f2f2f2;
  }
  
  .leaderboard-table tr:hover {
    background-color: #f5f5f5;
  }
  